{{ define "layout" }}
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width,initial-scale=1.0" />
      <meta name="keywords" content="config.Frontend.Keywords" />
      <meta name="description" content="{{ .Meta.Description }}" />
      <meta property="og:title" content="{{ .Meta.Title }}" />
      <meta property="og:type" content="website" />
      <meta property="og:image" content="https://beacon.stratisevm.com/img/logo.png" />
      <meta property="og:image:alt" content="The beacon.stratisevm.com logo is a satellite dish expanding its signal." />
      <meta property="og:description" content="{{ .Meta.Description }}" />
      <meta property="og:url" content="https://beacon.stratisevm.com{{ .Meta.Path }}" />
      <meta property="og:site_name" content="beacon.stratisevm.com" />
      <meta name="twitter:card" content="summary" />
      <meta name="twitter:site" content="@straxerchain_org" />
      <meta name="twitter:title" content="{{ .Meta.Title }}" />
      <meta property="twitter:description" content="{{ .Meta.Description }}" />
      <meta property="twitter:image" content="https://beacon.stratisevm.com/img/logo.png" />
      <meta property="twitter:image:alt" content="The beacon.stratisevm.com logo is a satellite dish expanding its signal." />
      <meta name="format-detection" content="telephone=no" />

      <link rel="canonical" href="https://beacon.stratisevm.com{{ .Meta.Path }}" />
      <title>{{ .Meta.Title }}</title>
      <link rel="shortcut icon" type="image/png" href="/favicon.ico" />
      <link rel="stylesheet" href="/css/fontawesome.min.css" />
      <link rel="preload" as="font" href="/webfonts/fa-solid-900.woff2" crossorigin />
      <link rel="preload" as="font" href="/webfonts/fa-regular-400.woff2" crossorigin />
      <link rel="preload" as="font" href="/webfonts/fa-brands-400.woff2" crossorigin />
      <link rel="preload" as="font" href="https://fonts.gstatic.com/s/robotomono/v7/L0x5DF4xlVMF-BfR8bXMIjhLq38.woff2" crossorigin />
      <link rel="preload" as="font" href="https://fonts.gstatic.com/s/barlow/v4/7cHqv4kjgoGqM7E3_-gs51os.woff2" crossorigin />
      <link rel="preload" as="font" href="/fonts/Inter-Regular.woff2" crossorigin />
      <link id="app-style-initial" rel="stylesheet" href="/theme/css/beacon-light.min.css" />
      <link id="app-style" rel="stylesheet" href="/css/layout.css" />
      <link rel="stylesheet" href="/css/layout/toggle.css" />
      <link rel="stylesheet" href="/css/layout/banner.css" />
      <link rel="stylesheet" href="/css/layout/herofeed.css" />
  <script>
    var selectedCurrency = {{$.Rates.SelectedCurrency}}
    var mainCurrency = {{config.Frontend.MainCurrency}}
    var elCurrency = {{config.Frontend.ElCurrency}}
    var clCurrency = {{config.Frontend.ClCurrency}}
    var elPrice = {{$.Rates.ElCurrencyPrice}}
    var clPrice = {{$.Rates.ClCurrencyPrice}}
    var mainPrice = {{$.Rates.MainCurrencyPrice}}

    var mql = window.matchMedia("(prefers-color-scheme: light)")
    var lightScheme = mql.matches
    var currentTheme = localStorage.getItem("theme")
    var d1 = document.getElementById("app-style")

    if (currentTheme !== "light" && currentTheme !== "dark") {
      currentTheme = lightScheme ? "light" : "dark"
    }
    document.documentElement.setAttribute("data-theme", currentTheme)
    localStorage.setItem("theme", currentTheme)

    if (currentTheme === "dark") {
      d1.insertAdjacentHTML("beforebegin", '<link id="app-theme" rel="stylesheet" type="text/css" href="/theme/css/beacon-' + currentTheme + '.min.css" onload="document.documentElement.style.display = ``">')
      window.addEventListener("load", function () {
        document.getElementById("app-style-initial").remove()
      })
    } else {
      document.getElementById("app-style-initial").id = "app-theme"
    }
  </script>
      <script>
        function updateCurrency(currency) {
          document.cookie = "currency=" + currency + ";samesite=strict;path=/"
          window.location.reload(true)
        }
      </script>
      {{ template "css" .Data }}
      <script src="/js/jquery.min.js"></script>
    </head>
    <header></header>

    <body ontouchstart="">
      <noscript>
        <strong>We're sorry but beacon.stratisevm.com doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
      </noscript>

      <!-- Banner start -->
      <div {{ if or (eq .Active "confirmation" ) (or (eq .Active "login" ) (eq .Active "register" )) }}style="display:none;"{{ end }} class="info-banner-container">
        <div class="info-banner-content container">
          <div id="banner-stats" class="info-banner-left">
            {{ if .ShowSyncingMessage }}
              <a data-toggle="tooltip" title="The explorer is currently syncing with the network" id="banner-status" style="white-space: nowrap;" class="mr-2" href="/"><i class="fas fa-sync"></i> <span>|</span></a>
            {{ else }}
              <a id="banner-home" style="white-space: nowrap;" class="mr-2" href="/"><i class="fas fa-home"></i> <span>|</span></a>
            {{ end }}
            <div data-toggle="tooltip" title="" data-original-title="Epoch" id="banner-epoch" class="info-item d-flex mr-2 mr-lg-3">
              <div class="info-item-header mr-1">
                <span class="item-icon"><i class="fas fa-history"></i></span>
                <span class="d-none d-sm-inline item-text">Ep<span class="d-none d-xl-inline">och</span></span>
              </div>
              <div class="info-item-body">
                <a id="banner-epoch-data" href="/epoch/{{ .CurrentEpoch }}">{{ formatAddCommas .CurrentEpoch }}</a>
              </div>
            </div>
            <div data-toggle="tooltip" title="" data-original-title="Slot" class="d-none d-lg-block">
              <div id="banner-slot" class="info-item d-flex mr-2 mr-lg-3">
                <div class="info-item-header mr-1">
                  <span class="item-icon"><i class="fas fa-cubes"></i></span>
                  <span class="item-text">Slot</span>
                </div>
                <div class="info-item-body">
                  <a id="banner-slot-data" href="/slot/{{ .CurrentSlot }}">{{ formatAddCommas .CurrentSlot }}</a>
                </div>
              </div>
            </div>
            {{ if .Mainnet }}
              <!-- <div data-toggle="tooltip" title="" data-original-title="Price: 1 {{ .Rates.MainCurrencySymbol }} = {{ .Rates.MainCurrencyTickerPriceKFormatted }} {{ .Rates.TickerCurrencySymbol }}" id="banner-eth-price">
                <div class="info-item d-flex mr-2 mr-lg-3">
                  <div class="info-item-header mr-1">
                    <span class="item-icon"><i class="fas fa-cubes"></i></span>
                    <span class="d-none d-xl-inline item-text">Price</span>
                  </div>
                  <div class="info-item-body">
                    <a id="banner-eth-price-data">
                      <span id="currentCurrencySymbol" class="currency-symbol">{{ .Rates.TickerCurrencySymbol }}</span>
                      <span id="currentKFormattedPrice" class="k-formatted-price">{{ .Rates.MainCurrencyTickerPriceKFormatted }}</span>
                      <span id="currentCurrencyPrice" class="price">{{ .Rates.MainCurrencyTickerPriceFormatted }}</span>
                    </a>
                  </div>
                </div>
              </div> -->
            {{ else }}
              {{- if .GasNow }}
                <div data-toggle="tooltip" title="" data-original-title="Gas Price" class="d-none d-lg-block">
                  <div id="banner-slot" class="info-item d-flex mr-2 mr-lg-3">
                    <div class="info-item-body">
                      <a id="banner-gpo-data" href="/gasnow"
                        ><i class="fas fa-gas-pump mr-1"></i>{{ formatAmountFormatted
                          .GasNow.Data.Fast "GWei" 0 0 false false false
                        }}</a
                      >
                    </div>
                  </div>
                </div>
              {{- end }}
            {{ end }}
            {{ if not .ShowSyncingMessage }}
              {{ if gt .FinalizationDelay 5 }}
                <div data-toggle="tooltip" title="" data-original-title="Finality: The last finalized epoch was {{ .FinalizationDelay }} epochs ago" id="banner-fin" class="info-item d-flex mr-2 mr-lg-3">
                  <div class="info-item-header mr-1">
                    <span class="item-icon"><i class="fas fa-exclamation-triangle"></i></span>
                  </div>
                  <div class="info-item-body text-warning">
                    <span id="banner-fin-data">{{ .FinalizationDelay }}</span>
                    <i class="fas fa-exclamation-triangle item-text"></i>
                  </div>
                </div>
              {{ end }}
            {{ end }}

          </div>
          <!-- Fill content -->
          <!-- <div class="d-flex flex-fill"></div> -->
          <div class="info-banner-center">
            <div class="info-banner-search">
              <div class="search-container">
                <form class="form-inline" action="/search" method="POST">
                  <input id="banner-search-input" class="typeahead" autocomplete="off" name="search" type="text" placeholder="Public Key / Block Number / Block Hash / Graffiti / State Hash" aria-label="Search" />
                </form>
              </div>
              <a class="search-button"><i id="banner-search" class="fas fa-search"></i></a>
            </div>
          </div>
          <div class="info-banner-right">
            <!-- {{ if .Mainnet }}
              <div class="dropdown">
                <a class="btn btn-transparent btn-sm dropdown-toggle currency-dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <div id="currencyFlagDropdown">
                    <img class="currency-flag-dropdown-image" src="/img/{{ .Rates.SelectedCurrency }}.svg" />
                  </div>
                  <div id="currencyDropdown">{{ .Rates.SelectedCurrency }}</div>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="currencyDropdown">
                  {{ range .AvailableCurrencies }}
                    <a tabindex="1" class="dropdown-item cursor-pointer" onClick="updateCurrency({{ . }})">
                      <img class="currency-flag-option" src="/img/{{ . }}.svg" />
                      <span class="currency-name">{{ getCurrencyLabel . }}</span>
                      <span class="currency-symbol">{{ . }}</span>
                    </a>
                  {{ end }}
                </div>
              </div>
            {{ end }} -->
            {{ if .User.Authenticated }}
              <div class="dropdown">
                <a class="btn btn-transparent btn-sm dropdown-toggle" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-user-circle m-0 p-0"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                  <a class="dropdown-item" href="/user/notifications">Notifications</a>
                  <a class="dropdown-item" href="/user/settings">Settings</a>
                  {{ if eq .User.UserGroup "ADMIN" }}
                    <a class="dropdown-item" href="/user/global_notification">Global Notification</a>
                    <a class="dropdown-item" href="/user/ad_configuration">Ad Configuration</a>
                    <a class="dropdown-item" href="/user/explorer_configuration">Explorer Configuration</a>
                  {{ end }}
                  <a data-no-instant class="dropdown-item" href="/logout">Logout</a>
                </div>
              </div>
            {{ else }}
              <div class="d-md-none">
                <div class="dropdown" class="d-md-none">
                  <a class="btn btn-transparent btn-sm dropdown-toggle" id="loginDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i style="margin: 0; padding: 0;" class="fas fa-sign-in-alt"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="loginDropdown">
                    <a class="dropdown-item" href="/login">Log in</a>
                    <a class="dropdown-item" href="/register">Sign Up</a>
                  </div>
                </div>
              </div>
              <a href="/login" class="mr-3 d-none d-md-flex"><span>Log in</span></a>
              <a href="/register" class="btn btn-primary btn-sm d-none d-md-flex"
                ><span class="text-white"><b>Sign Up</b></span></a
              >
            {{ end }}
          </div>
        </div>
      </div>
      <!-- Banner end -->
      {{ template "mainNavigation" .MainMenuItems }}
      <main>
        {{ .GlobalNotification }}
        <!-- Discount banner
            <div class="p-1" style="overflow-wrap: break-word; background-color: var(--bg-color-light); height: 40px; display: flex; justify-content: center; align-items: center;">
                <span class="d-none d-md-block">
                <span>
                    <span>
                        Use voucher code
                    </span>
                        <span>
                            <a style="color: #66bce9;">BEACONCHAIN</a>
                        </span>
                        <span>
                            to get 69.42% off on the
                        </span>
                        <span>
                            <a href="/premium" style="color: #ff6600;">Mobile app</a>
                        </span>
                        <span>
                            &amp;
                        </span>
                        <span>
                            <a href="/pricing" style="color: #ff6600;">API keys</a>
                        </span>
                    </span>
                </span>
                <span class="d-md-none p-1" style="font-size: 90%;">
                    <span>
                        <span>
                            Use "<a style="color: #66bce9;">BEACONCHAIN</a>"
                        </span>
                         <span>
                            for a 69.42%
                        </span>
                        <span>
                            <a href="/premium" style="color:#ff6600;">discount
                            </a>
                        </span>
                    </span>
                </span>
            </div> -->

        {{ template "content" . }}
        {{ if not .User.Authenticated }}
          <div id="cookie-banner" class="d-none" style="position: fixed; display: flex; flex-direction: column; z-index: 999; bottom: 3%; left: 50%; transform: translateX(-50%); width: 100%; justify-content: center; align-items: center;">
            <div style="width: 80%; max-width: 600px;" class="card card-body row">
              <div class="row">
                <div class="col">
                  <span>By using our site you agree to our <a href="{{ $.PrivacyPolicyUrl }}">use of cookies</a> to deliver a better user experience.</span>
                </div>
              </div>
              <div class="row">
                <div class="col d-flex justify-content-end align-items-end">
                  <button class="btn btn-secondary btn" style="margin-left: 1%;" onclick="acceptOnlyNecessaryCookies()">Only Necessary</button>
                  <button class="btn btn-primary btn" style="margin-left: 1%;" onclick="acceptCookieBanner()">Accept All Cookies</button>
                  <div></div>
                </div>
              </div>
            </div>
          </div>
        {{ end }}
      </main>
      <div style="margin-top: 3rem; margin-bottom: 4.2rem;">
        <hr />
        <footer class="container">
          <div class="row">
            <div class="col-md-4 mb-2">
              <h5>Legal Notices</h5>
              <div class="d-flex flex-column">
                <a class="my-1" href="/imprint"><i class="fas fa-building mr-2"></i>Imprint</a>
              </div>
              <div class="d-flex flex-column">
                <a class="my-1" href="{{ $.TermsOfServiceUrl }}"><i class="fas fa-file-contract mr-2"></i>Terms</a>
              </div>
              <div class="d-flex flex-column">
                <a class="my-1" href="{{ $.PrivacyPolicyUrl }}"><i class="fas fa-user-secret mr-2"></i>Privacy</a>
              </div>
            </div>
          </div>
          <div class="text-center row justify-content-center">
            <div class="col-12">
              <span>© bitfly gmbh {{ .Year }}</span>
            </div>
          </div>
        </footer>
      </div>

      <script src="/js/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="/theme/js/bootstrap.min.js"></script>
      <script src="/js/luxon.min.js"></script>
      <script>
        luxon.DateTime.local()
      </script>
      <script src="/js/typeahead.bundle.min.js"></script>
      <script src="/js/layout.js"></script>
      <script src="/js/banner.js"></script>
  <script>
    var currency = {{.Rates.SelectedCurrency}}

    function slotToTime(slot) {
      var gts = {{.ChainGenesisTimestamp}}
      var sps = {{.ChainSecondsPerSlot}}
      return (gts + slot * sps) * 1000
    }

    function epochToTime(epoch) {
      var gts = {{.ChainGenesisTimestamp}}
      var sps = {{.ChainSecondsPerSlot}}
      var spe = {{.ChainSlotsPerEpoch}}
      return (gts + epoch * sps * spe) * 1000
    }

    function timeToEpoch(ts) {
      var gts = {{.ChainGenesisTimestamp}}
      var sps = {{.ChainSecondsPerSlot}}
      var spe = {{.ChainSlotsPerEpoch}}
      var slot = Math.floor((ts / 1000 - gts) / sps)
      var epoch = Math.floor(slot / spe)
      if (epoch < 0) return 0
      return epoch
    }

    function timeToSlot(ts) {
      var gts = {{.ChainGenesisTimestamp}}
      var sps = {{.ChainSecondsPerSlot}}
      var spe = {{.ChainSlotsPerEpoch}}
      var slot = Math.floor((ts / 1000 - gts) / sps)
      if (slot < 0) return 0
      return slot
    }
  </script> {{ if not .Meta.NoTrack }}
        {{ if not .User.Authenticated }}
          <script>
            function hideCookieBanner() {
              $("#cookie-banner").attr("class", "d-none")
            }

            function acceptCookieBanner() {
              document.cookie = "cookie=accepted;expires=Fri, 31 Dec 9999 23:59:59 GMT;path=/"
              hideCookieBanner()
            }

            function acceptOnlyNecessaryCookies() {
              document.cookie = "cookie=accepted-necessary;expires=Fri, 31 Dec 9999 23:59:59 GMT;path=/"
              hideCookieBanner()
            }

            if (document.cookie.indexOf("cookie=accepted") != -1) {
              hideCookieBanner()
            } else {
              $("#cookie-banner").attr("class", "")
            }
          </script>
        {{ end }}
      {{ end }}
      <script src="/js/clipboard.min.js"></script>
      <script src="/js/requestInterval.js"></script>

      {{ template "js" .Data }}
      {{ if not .Meta.NoTrack }}
        {{ if ne .Meta.GATag "" }}
          <!-- Global site tag (gtag.js) - Google Analytics -->
  <script>
    if (document.cookie.indexOf("cookie=accepted-necessary") == -1) {
      let src = 'https://www.googletagmanager.com/gtag/js?id={{.Meta.GATag}}'
      let a = document.createElement('script')
      a.src = src
      document.body.appendChild(a)
    }
  </script>  <script>
    window.dataLayer = window.dataLayer || []

    function gtag() {
      dataLayer.push(arguments)
    }

    gtag('js', new Date())
    gtag('config', {{.Meta.GATag}})

    function createFunctionWithTimeout(callback, opt_timeout) {
      var called = false
      function fn() {
        if (!called) {
          called = true
          callback()
        }
      }
      setTimeout(fn, opt_timeout || 1000)
      return fn
    }

    function handleOutboundLinkClicks(event) {
      var link = event.currentTarget.href
      event.preventDefault()
      var fallback = setTimeout(function () {
        window.location = link
      }, 1000)

      gtag('event', 'click', {
        event_category: 'Outbound Link',
        event_label: link,
        event_callback: function () {
          clearTimeout(fallback)
          window.location = link
        }
      })
    }

    // add event handler for outbound links tagged with ga-outbound
    var outbounds = document.querySelectorAll('[ga-outbound]')
    for (var i = 0; i < outbounds.length; i++) {
      var element = outbounds[i]
      element.addEventListener('click', handleOutboundLinkClicks)
    }
  </script>
        {{ end }}
      {{ end }}
      <script type="text/javascript" async src="/js/revive.min.js"></script>
      {{ template "addHandler" .AdConfigurations }}
      {{ if .Debug }}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.33.0/min/vs/loader.min.js" integrity="sha512-O9SYDgWAM3bEzit1z6mkFd+dxKUplO/oB8UwYGAkg2Zy/WzDUQ2mYA/ysk3c0CxiXAN4u8T9JeZ0Ahk2Jj/33Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="/js/debug.js"></script>
  <script>
    GoDebug.initialize({{ . }})
  </script>
      {{ end }}
    </body>
  </html>
{{ end }}
